@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --card: 249 249 249;
    --card-foreground: 0 0 0;
    --primary: 0 0 0;
    --primary-foreground: 255 255 255;
    --muted: 237 237 237;
    --muted-foreground: 115 115 115;
    --border: 229 229 229;
    --input: 249 249 249;
    --destructive: 220 38 38;
    --destructive-foreground: 255 255 255;
    --radius: 0.75rem;
  }
  .dark {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --card: 26 26 26;
    --card-foreground: 255 255 255;
    --primary: 255 255 255;
    --primary-foreground: 0 0 0;
    --muted: 38 38 38;
    --muted-foreground: 163 163 163;
    --border: 38 38 38;
    --input: 38 38 38;
    --destructive: 127 29 29;
    --destructive-foreground: 255 255 255;
  }
}